<footer class="py-2">
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-sm-4">
				<p class="text-center text-sm-left">Retrouvez nos annonces sur</p>
				<div class="d-flex justify-content-around"><img src="img/facebook.svg" class="logo" alt="nos annonces sur Facebook"><img src="img/twitter.svg" class="logo" alt="nos annonces sur Twitter"><img src="img/linkedin.svg" class="logo" alt="nos annonces sur LinkedIn"></div>
			</div>
			<div class="col-sm-4">
				<p class="text-center text-sm-left">UNE QUESTION ?</p>
				<p class="text-center text-sm-left"><i class="fas fa-phone-alt"></i> Tel. 04 76 76 76 76</p>
				<p class="text-center text-sm-left">Formulaire de contact</p>
				<p class="text-center text-sm-left">Nous répondons sous 24h du lundi au samedi hors weekends et jours fériés.</p>
			</div>
			<div class="col-sm-4 my-auto">
				<a [routerLink]="['/voitures/add']" class="btn btn-danger text-white my-2 my-lg-0 m-sm-auto" href="#" role="button">ESPACE PROFESSIONNEL</a>
			</div>
		</div>
	</div>
</footer>
