<div id="formulaire" class="border-black mt-5 container">
    <h2>Ajouter une voiture</h2>
    <form #formVoitureValidation="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Id de la voiture</label>
        <input type="number" class="form-control" required name="id" #id="ngModel"
              [(ngModel)]="voitureForm.id">
        <div *ngIf="!id.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas un ID</p>
        </div>
      </div>

      <div class="form-group">
        <label>Ref de la voiture</label>
        <input type="text" class="form-control" required name="ref" #ref="ngModel"
              [(ngModel)]="voitureForm.ref">
        <div *ngIf="!ref.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une ref</p>
        </div>
      </div>
  
      <div class="form-group">
        <label>Marque de la voiture</label>
        <input type="text" class="form-control" required name="marque" #marque="ngModel"
              [(ngModel)]="voitureForm.marque">
        <div *ngIf="!marque.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une marque</p>
        </div>
      </div>

      <div class="form-group">
        <label>Modèle de la voiture</label>
        <input type="text" class="form-control" required name="modele" #modele="ngModel"
              [(ngModel)]="voitureForm.modele">
        <div *ngIf="!modele.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas un modèle</p>
        </div>
      </div>

      <div class="form-group">
        <label>Description rapide de la voiture</label>
        <input type="text" class="form-control" required name="description" #description="ngModel"
              [(ngModel)]="voitureForm.description">
        <div *ngIf="!description.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une description</p>
        </div>
      </div>

      <!-- A REFAIRE AVEC CHOIX -->
      <div class="form-group">
        <label>Energie de la voiture</label>
        <input type="text" class="form-control" required name="energie" #energie="ngModel"
              [(ngModel)]="voitureForm.energie">
        <div *ngIf="!energie.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une énergie</p>
        </div>
      </div>

      <div class="form-group">
        <label>Année de mise en circulation de la voiture</label>
        <input type="number" class="form-control" required name="annee" #annee="ngModel"
              [(ngModel)]="voitureForm.annee">
        <div *ngIf="!annee.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une année</p>
        </div>
      </div>

      <div class="form-group">
        <label>Nombre de portes</label>
        <input type="number" class="form-control" required name="nbPortes" #nbPortes="ngModel"
              [(ngModel)]="voitureForm.nbPortes">
        <div *ngIf="!nbPortes.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas un nombre de portes</p>
        </div>
      </div>

      <div class="form-group">
        <label>Puissance (chevaux) (mentionnez uniquement les chiffres)</label>
        <input type="text" class="form-control" required name="puissanceCV" #puissanceCV="ngModel"
              [(ngModel)]="voitureForm.puissanceCV">
        <div *ngIf="!puissanceCV.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une puissance en CV</p>
        </div>
      </div>

      <div class="form-group">
        <label>Chevaux fiscaux (mentionnez uniquement les chiffres)</label>
        <input type="text" class="form-control" required name="CVFiscaux" #CVFiscaux="ngModel"
              [(ngModel)]="voitureForm.CVFiscaux">
        <div *ngIf="!CVFiscaux.valid" class="error">
          <p class="text-warning">Erreur ce ne sont pas des chevaux fiscaux</p>
        </div>
      </div>

      <div class="form-group">
        <label>Boîte de vitesse</label>
        <input type="text" class="form-control" required name="boite" #boite="ngModel"
              [(ngModel)]="voitureForm.boite">
        <div *ngIf="!boite.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une boîte de vitesse</p>
        </div>
      </div>

      <div class="form-group">
        <label>Nombre de kilomètres parcourus</label>
        <input type="number" class="form-control" required name="nbKm" #nbKm="ngModel"
              [(ngModel)]="voitureForm.nbKm">
        <div *ngIf="!nbKm.valid" class="error">
          <p class="text-warning">Erreur ce ne sont pas des kilomètres</p>
        </div>
      </div>

      <div class="form-group">
        <label>Prix de vente</label>
        <input type="number" class="form-control" required name="prixVente" #prixVente="ngModel"
              [(ngModel)]="voitureForm.prixVente">
        <div *ngIf="!prixVente.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas un prix</p>
        </div>
      </div>
  
      <div class="form-group">
        <label>Image 1 de la voiture</label>
        <input type="text" class="form-control"
              required name="images" #images="ngModel"
              [(ngModel)]="voitureForm.images[0]">
        <div *ngIf="!images.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une image</p>
        </div>
      </div>

      <div class="form-group">
        <label>Options de la voiture</label>
        <input type="text" class="form-control"
              required name="options" #options="ngModel"
              [(ngModel)]="voitureForm.options">
        <div *ngIf="!options.valid" class="error">
          <p class="text-warning">Erreur ce ne sont pas des options</p>
        </div>
      </div>

      <div class="form-group">
        <label>Couleur</label>
        <input type="text" class="form-control"
              required name="couleur" #couleur="ngModel"
              [(ngModel)]="voitureForm.couleur">
        <div *ngIf="!couleur.valid" class="error">
          <p class="text-warning">Erreur ce n'est pas une couleur</p>
        </div>
      </div>
  
      <button [disabled]="!formVoitureValidation.valid" class="btn btn-success" type="submit">Enregistrer la voiture</button>
    </form>
  </div>